
//Font Weight
$weight-bold:bold;
$weight-semi:600;
$weight-medium:500;
$weight-normal:300;
$weight-regular:400;
$weight-light:100;

//FOnt-color
$white:#fff;
$black:#000;
$lite:#ddd;
$litedark:#5e5f64;
$colorTheme: #892428;
$buttonColor:#90393F;
$font-color:#90393F;
$labelColor:#515C6F;
$inputColor:#888B8D;
$error:#CC0000;
$sideBarBg:#F8F8F8;
$sideBarHover:#E9D7D8;
$sideBarButton:#D6DAE3;
$innerBorder:#DBDBDB;
$dashboardHeadingColor:#515C6F; 
$siteBg: #4DAA40;
$paymentCard: #F8F8F8;
$paymentCardBorder:#E6E6E6;
$progressBg: transparent linear-gradient(90deg, #8BE2C7 0%, #45D1A4 100%) 0% 0% no-repeat padding-box;
$tableTh: #A3A9B4;
$totalBg:#E3F9E0;
//FOnt-family
$font-family: 'Roboto', sans-serif;
