<div id="auth_form">
    <div class='form-item-container'>
        <div class='form-main'>
            <div class="form-head">
                <div class="hdfc-logo-wrap">
                    <img class="hdfc-img" src="../assets/images/logo.png" alt="">
                </div>
                <h2>Sign Up</h2>
            </div>
            <form class="login-form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Full Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>National ID</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Date of Birth</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Mobile Number</label>
                    
                    <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Confirm password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary login-btn mt-4">Next</button>
            </form>


        </div>
    </div>


</div>