<section class="change-password-wrapper">
    <h1>Change Password</h1>
    <div class="form-container">
        <div class="form-main">
            <h2>Change Password</h2>
            <p>Please enter old and new password for your account.</p>
            <form class="change-pass-form">
                <div class="mb-3">
                 <span>* </span> <label for="exampleInputEmail1" class="form-label">Current Password</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <span>* </span><label for="exampleInputPassword1" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <span>* </span><label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
            
                <button type="submit" class="btn btn-primary update-btn">Update Password</button>
              </form>
        </div>
       
    </div>
</section>
