<div class="new-app-facility">
    <h1>New Application</h1>
    <div class="fa-detail-section row">
        <div class="side-bar col-lg-4">
            <div class="top-progressbar">
                <h2>Over All Application progress</h2>
                <div class="progress-btn d-flex justify-content-between">
                    <button type="submit" class="btn submit-btn">Submit</button>
                    <button type="submit" class="btn cancel-btn">Cancel</button>
                    <div class="info-icon">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="facility-detail">
                <ul>
                    <li>
                        <span><img src="assets/images/Document.svg" alt=""><label for=""><a> Facility Details</a></label></span>
                    </li>
                    <li><span><img src="assets/images/pie_chart_icon.svg"  alt=""><label  for=""> <a routerLink="/dashboard/project-equity">Project and Equity Details</a> </label></span>
                    </li>
                    <li><span><img src="assets/images/Layer_2.svg" alt=""><label for=""><a routerLink="/dashboard/security-detail">Security Details</a> </label></span>
                    </li>
                    <li><span><img src="assets/images/Document.svg" alt=""><label for=""><a routerLink="/dashboard/proj-related">Project Related Documents</a> </label></span>
                    </li>
                </ul>
            </div>

        </div>
        

        <div class="fa-right-section col-lg-8">
            <div class="prog-bar">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="fd-section">
        </div>
        <div class="detail-main">
            <div class="progress-head">
                <h2>Facility Detail</h2>
            </div>
        </div>
        <div class="fd-form">
            <form action="">
                <div class="form-radio-btn">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"> <span class="radio-btn-content">Islamic</span> </mat-radio-button>
                        <mat-radio-button value="2"><span class="radio-btn-content">Conventional</span></mat-radio-button>
                      </mat-radio-group>
                </div>
                <div class="facility-form">
                    <div class="container row">
                        <div class="col-lg-6"><div class="mb-3">
                 <span>* </span> <label for="exampleInputEmail1" class="form-label">Purpose</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div></div>
                        <div class="col-lg-6"><div class="mb-3">
                 <span>* </span> <label for="exampleInputEmail1" class="form-label">Facility Amount</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div></div>
                        <div class="col-lg-6"><div class="mb-3">
                 <span>* </span> <label for="exampleInputEmail1" class="form-label">Scheme (Show When Available)</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div></div>
                        <div class="col-lg-6"><div class="mb-3">
                 <span>* </span> <label for="exampleInputEmail1" class="form-label">Facility Period</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div></div>
            </div>
            <div class="button">
                <button type="submit" class="submit-btn">Submit</button>
            </div>

                </div>
            </form>
        </div>

        </div>

    </div>
</div>

