<div id="auth_form">
    <div class='form-item-container'>
        <div class='form-main'>
            <div class="form-head">
                <div class="hdfc-logo-wrap">
                    <img class="hdfc-img" src="../assets/images/logo.png" alt="">
                </div>
                <h2>Forgot Password?</h2>
                <p>Please enter your registered email address or mobile <br>
                    number to receive OTP</p>
            </div>
            <form class="login-form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><span>* </span>Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter Email Address">
                </div>
                <button type="submit" class="btn btn-primary login-btn mt-4">Send OTP</button>
            </form>


        </div>
    </div>


</div>